.chart-container {
    display: inline-block;
    margin: auto;
    background: #fcfbff;
}

.chart-container .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #5990ae;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #dad9de;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.chart-container .title i {
    color: #454545;
}